/* 
primary grey: #F5F5F5
primary red: #F05454
primary blue: #30475E
primary black #121212 */

* {
  box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #121212;
}

main{
  padding-top: 42px;
}

header{
  background-color: white;
  width: 100%;
  padding: 10px 0 4px;
  border-bottom: 2px solid rgb(92, 92, 92);
  position: fixed;
  box-shadow: 0px 5px 15px -4px #000000;
}

footer{
  border: 2px solid white;
  text-align: center;
}

.socials{
  display: flex;
  justify-content: center;
}

nav > ul{
  list-style: none;
  padding: 0;
  margin: 0;
}


nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: -19px;
  font-size: 20px;
  padding-right: 0;
}

h1, h2, h3, h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.00em;
    font-weight: 700;
    color: #F05454
}
  
h2 {
    font-size: 1.75em;
    font-weight: 700;
    color: #F05454
}
  
h3 {
    font-size: 1.35em;
    font-weight: 400;
}

h4 {
    font-size: 1.15em;
    font-weight: 400;
}

img{
    width: 100%;
}

.logo{
    max-width: 250px;
    border: 2px solid black;
}

a {
    color: #F05454;
    text-decoration: none; /* No underlining */
  }

a i {
  margin: 20px;
  margin-bottom: 0;
}

a:visited{
  color: #30475E;
  text-decoration: underline;
}

a:hover, a:focus {
    color: #F05454;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

a:active { /* selected link */
    color: #30475E;
  }

.button {
    display: inline-block; 
    background-color: #F05454;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #F05454; /* width of the border, type, color */
    transition: 0.9s opacity;
  }

  .button:hover{
      opacity: 0.8;
      text-decoration: none;
      background-color: #30475E ;
  }

  .button.contact {
    background-color: transparent;
    color: #F05454;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
  }

  .button.contact:hover {
    background-color: #30475E;
    color: #F5F5F5;
    border: 2px solid #F5F5F5;
  }

  /* Layout styling */

  .container {
    padding: 0 15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .row{
    margin: 25px 0;
  }

  .logo{
    max-width: 250px;
  }

  .hero h1{
    text-align: center;
    margin: 0;
   }

  .hero{
    background-color: white;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

.hero span{
  display: block;
  font-size: 70%;
  margin-top: .5em;
}

[class*="col-"]{
  float: left;
  padding: 10px;
}

@media only screen and (min-width: 641px){
  header{
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav{
    width: auto;
    float: right;
    margin-top: 0;
  }

  nav > ul > li{
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul {
    margin: 0;
  }

  main{
    padding-top: 99px;
  }
  body{
    font-size: 18px;
  }
  .col-md-6{
    width: 50%;
  }
  .row::after{
    content: '';
    clear: both;
    display: table;
  }
  
}

@media only screen and (min-width: 1024px){

}

@media only screen and (min-width: 1440px){

}